{
  "fields": {
    "line": {
      "id": "line-selector",
      "type": "select",
      "sort": false,
      "hideNone": false,
      "noneLabel": "-- Valitse --",
      "optionLabels": ["Nettilukio", "Nettiperuskoulu", "Lähilukio", "Bändilinja", "Monikulttuurillinen peruskoululinja", "Aikuisten perusopetuksen alkuvaiheen opetus", "LUVA eli lukioon valmentava koulutus maahanmuuttajille"],
      "showMessages": false
    },
    "last-name": {
      "type": "text"
    },
    "first-names": {
      "type": "text"
    },
    "birthday": {
      "type": "text",
      "helper": "Esitysmuoto p.k.vvvv (esim. 15.3.1995)"
    },
    "ssn-end": {
      "type": "uppercase",
      "helper": "Esitysmuoto XXXX (ilman välimerkkiä A tai -)"
    },
    "sex": {
      "type": "select",
      "sort": false,
      "hideNone": false,
      "noneLabel": "-- Valitse --",
      "optionLabels": ["Mies", "Nainen", "Muu"],
      "showMessages": false
    },
    "sex-other": {
      "type": "text",
      "dependencies": {
        "sex": "muu"
      }
    },
    "address": {
      "type": "text"
    },
    "zip-code": {
      "type": "text"
    },
    "city": {
      "type": "text"
    },
    "country": {
      "type": "text"
    },
    "municipality": {
      "type": "select",
      "sort": false,
      "hideNone": false,
      "noneLabel": "-- Valitse --",
      "showMessages": false,
      "dataSource": "/1/application/municipalities"
    },
    "nationality": {
      "type": "select",
      "sort": false,
      "hideNone": false,
      "noneLabel": "-- Valitse --",
      "showMessages": false,
      "dataSource": "/1/application/nationalities"
    },
    "language": {
      "type": "select",
      "sort": false,
      "hideNone": false,
      "noneLabel": "-- Valitse --",
      "showMessages": false,
      "dataSource": "/1/application/languages"
    },
    "phone": {
      "type": "text",
      "helper": "Laita mukaan myös maakoodi, jos olet ulkomailla"
    },
    "email": {
      "type": "email"
    },
    "underage": {
      "type": "checkbox"
    },
    "underage-last-name": {
      "type": "text",
      "dependencies": {
        "underage": true
      }
    },
    "underage-first-name": {
      "type": "text",
      "dependencies": {
        "underage": true
      }
    },
    "underage-phone": {
      "type": "text",
      "dependencies": {
        "underage": true
      }
    },
    "underage-email": {
      "type": "text",
      "dependencies": {
        "underage": true
      }
    },
    "underage-address": {
      "type": "text",
      "dependencies": {
        "underage": true
      }
    },
    "underage-zip-code": {
      "type": "text",
      "dependencies": {
        "underage": true
      }
    },
    "underage-city": {
      "type": "text",
      "dependencies": {
        "underage": true
      }
    },
    "underage-country": {
      "type": "text",
      "dependencies": {
        "underage": true
      }
    },
    "underage-basis": {
      "type": "textarea",
      "dependencies": {
        "underage": true
      }
    },
    "other-school": {
      "type": "select",
      "sort": false,
      "hideNone": false,
      "noneLabel": "-- Valitse --",
      "optionLabels": ["Kyllä", "En"],
      "showMessages": false,
      "dependencies": {
        "line": ["nettilukio", "lahilukio", "nettipk"]
      }
    },
    "other-school-name": {
      "type": "text",
      "dependencies": {
        "other-school": "1"
      }
    },
    "study-goals": {
      "type": "select",
      "sort": false,
      "hideNone": false,
      "noneLabel": "-- Valitse --",
      "optionLabels": ["Lukion päättötodistus", "YO-tutkinto", "Molemmat"],
      "showMessages": false,
      "dependencies": {
        "line": "nettilukio"
      }
    },
    "job": {
      "type": "select",
      "sort": false,
      "hideNone": false,
      "noneLabel": "-- Valitse --",
      "optionLabels": ["Työllinen", "Työtön", "Opiskelija", "Eläkeläinen", "Muu"],
      "showMessages": false
    },
    "job-other": {
      "type": "text",
      "dependencies": {
        "job": "muu"
      }
    },
    "additional-info": {
      "type": "textarea",
      "helper": "Voit kertoa omin sanoin, miksi haet koulutukseen"
    },
    "previous-studies-lukio": {
      "type": "select",
      "sort": false,
      "hideNone": false,
      "noneLabel": "-- Valitse --",
      "optionLabels": ["Peruskoulu", "Kansakoulu", "Lukio (keskeytynyt)", "Ammatillinen 2. aste", "Korkeakoulu", "Muu"],
      "showMessages": false,
      "dependencies": {
        "line": ["nettilukio", "lahilukio"]
      }
    },
    "previous-studies-lukio-other": {
      "type": "text",
      "dependencies": {
        "previous-studies-lukio": "muu"
      }
    },
    "previous-studies-pk": {
      "type": "select",
      "sort": false,
      "hideNone": false,
      "noneLabel": "-- Valitse --",
      "optionLabels": ["Kansakoulu", "Peruskoulu", "Aikuisten perusopetus", "Muu"],
      "showMessages": false,
      "dependencies": {
        "line": ["nettipk"]
      }
    },
    "previous-studies-pk-other": {
      "type": "text",
      "dependencies": {
        "previous-studies-pk": "muu"
      }
    },
    "additional-info-music": {
      "type": "textarea",
      "dependencies": {
        "line": ["bandilinja"]
      }
    },
    "music-link": {
      "type": "text",
      "dependencies": {
        "line": ["bandilinja"]
      }
    },
    "lodging": {
      "type": "checkbox",
      "rightLabel": "Tarvitsen asunnon opiston kampukselta",
      "dependencies": {
        "line": ["lahilukio", "bandilinja", "monikulttuuripk", "apa", "luva"]
      }
    },
    "source": {
      "type": "checkbox",
      "label": "Valitse vähintään yksi",
      "sort": false,
      "optionLabels": ["Ennestään tuttu", "Google", "Facebook", "Instagram", "Sanomalehti", "Tienvarsimainos", "Valotaulumainos", "Elokuva- tai TV-mainos", "Radio", "Kuulin kaverilta, tuttavalta, tms.", "TE-toimisto", "Messut", "Nuorisotyö", "Opot", "Muu"],
      "showMessages": false
    }
  },
  "hideInitValidationError": true,
  "focus": false
}