@CHARSET "UTF-8";

.IxHoverPanel {
  position: absolute;
  z-index: 9999;
  border: 1px solid #597DC5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";  
}