<meta charset="UTF-8"/>
<p>Hei %s,<p>
<p>Sinut on hyväksytty opiskelijaksi %s linjalle %s.</p>
<p>Pääset tarkastelemaan hyväksymisasiakirjaa alla olevasta osoitteesta.<br/>
<a href="%s">%s</a></p>
<p>Opiskelupaikka vastaanotetaan sähköisen tunnistautumisen tai mobiilivarmenteen avulla. Mikäli Sinulla ei ole pankkitunnuksia tai mobiilivarmennetta, voit ottaa opiskelupaikan vastaan lähettämällä tulostamasi ilmoittautumislomakkeen meille.</p>
<p><b>Huom!</b> Mikäli vastaanotat opiskelupaikan sähköisen tunnistautumisen tai mobiilivarmenteen avulla, huomaa, että tietoturvasyistä allekirjoittamisen jälkeen linkki hyväksymisasiakirjaan on voimassa enää 30 minuuttia. Tallenna siis allekirjoittamisen jälkeen asiakirja omalle laitteellesi. Tarvittaessa hakemuksesi käsittelijä voi myös toimittaa allekirjoittamasi asiakirjan sinulle sähköpostin liitteenä.</p>
<p>Ottaaksesi opiskelupaikan vastaan seuraa alla olevaa linkkiä.<br/>
<a href="%s">%s</a></p>
<p>Ystävällisin terveisin,<p>
<p>%s,<br/>
%s</p>