<meta charset="UTF-8"/>
<p>Hei %s,<p>
<p>Sinut on hyväksytty opiskelijaksi %s linjalle %s. Löydät hyväksymisasiakirjan oheisena liitetiedostona.</p>
<p>Opiskelupaikka vastaanotetaan sähköisen tunnistautumisen tai mobiilivarmenteen avulla. Mikäli Sinulla ei ole pankkitunnuksia tai mobiilivarmennetta, voit ottaa opiskelupaikan vastaan tulostamalla oheisen ilmoittautumislomakkeen ja lähettämällä sen meille.</p>
<p>Ottaaksesi opiskelupaikan vastaan seuraa alla olevaa linkkiä.</p>
<p><a href="%s">Opiskelupaikan vastaanottaminen</a></p>
<p>Ystävällisin terveisin,<p>
<p>%s,<br/>
%s</p>