<meta charset="UTF-8"/>
<p>Hei %s,<p>
<p>Sinut on hyväksytty opiskelijaksi %s linjalle %s.</p>
<p>Pääset tarkastelemaan hyväksymisasiakirjaa alla olevasta osoitteesta.<br/>
<a href="%s">%s</a></p>
<p>Opiskelupaikka vastaanotetaan sähköisen tunnistautumisen tai mobiilivarmenteen avulla. Mikäli Sinulla ei ole pankkitunnuksia tai mobiilivarmennetta, voit ottaa opiskelupaikan vastaan lähettämällä tulostamasi ilmoittautumislomakkeen meille.</p>
<p>Ottaaksesi opiskelupaikan vastaan seuraa alla olevaa linkkiä.<br/>
<a href="%s">%s</a></p>
<p>Ystävällisin terveisin,<p>
<p>%s,<br/>
%s</p>