<meta charset="UTF-8"/>
<p>Hei,<p>
<p>Olemme vastaanottaneet hakemuksesi Nettilukioon. Hakemuksen käsittelyyn saakka voit halutessasi muokata antamiasi tietoja ja lisätä todistusliitteitä. Pääset muokkaamaan hakemusta sukunimelläsi ja hakemustunnuksellasi alla olevan linkin kautta.</p>
<p></p>
<p><a href="%s">Hakemustietojen muokkaaminen</a></p>
<p>Sukunimi: <b>%s</b><br/>Hakemustunnus: <b>%s</b></p>
<p></p>
<p>Tämä on automaattinen viesti. Mikäli sinulla on kysyttävää, ota yhteyttä: <a href="mailto:nettilukio@otavanopisto.fi">nettilukio@otavanopisto.fi</a></p>