<meta charset="UTF-8"/>
<p>Hei %s<p>
<p>Sinut on hyväksytty opiskelijaksi Nettilukion aineopiskelijaksi. Löydät hyväksymisasiakirjan oheisena liitetiedostona.</p>
<p>Opiskelupaikka vastaanotetaan sähköisen tunnistautumisen tai mobiilivarmenteen avulla. Mikäli sinulla ei ole pankkitunnuksia tai mobiilivarmennetta, voit ottaa opiskelupaikan vastaan viestin liitteenä olevalla ilmoittautumislomakkeella. Tulosta ja täytä lomake, ota siitä kuva ja lähetä se sähköpostitse hakemuksen käsittelijälle.</p>
<p>Ottaaksesi opiskelupaikan vastaan seuraa alla olevaa linkkiä.</p>
<p><a href="%s">Opiskelupaikan vastaanottaminen</a></p>
<p>Ystävällisin terveisin<br/>
%s<br/>
Nettilukion hakijapalvelut</p>