<meta charset="UTF-8"/>
<p>Hei<p>
<p>Tämä on automaattinen viesti Nettiperuskoulun aineopiskelun hakijapalveluista.</p>
<p>Teidät on merkitty yhteyshenkilöksi Nettiperuskoulun aineopiskelijaksi hakeneen henkilön hakemuksessa. Alaikäisen hakijan kohdalla pyydämme myös yhteyshenkilöä vahvistamaan sähköpostiosoitteensa. Näin varmistamme, että voimme tarvittaessa välittää hakua koskevia tärkeitä tietoja myös teille. Huomaa, että vahvistamisessa on kaksi vaihetta: 1. vahvistuslinkin klikkaus, 2. hakijan syntymäajan syöttäminen.</p>
<p></p>
<p><a href="%s">Vahvista sähköpostiosoitteesi tästä</a></p>
<p></p>
<p>Jos hakija aloittaa opinnot oppilaitoksessamme, saatte myöhemmin uuden viestin. Viestin ohjeita seuraamalla voitte luoda itsellenne huoltajatunnukset Muikku-oppimisympäristöömme.</p>
<p>Jos teillä on kysyttävää tai ette tiedä, miksi saitte tämän viestin, olkaa yhteydessä hakijapalveluumme osoitteessa <a href="mailto:nettiperuskoulu@otavia.fi">nettiperuskoulu@otavia.fi</a>.</p>
<p>Ystävällisin terveisin<br/>
Nettiperuskoulun hakijapalvelut</p>