<meta charset="UTF-8"/>
<p>Hei %s<p>
<p>Sinut on hyväksytty opiskelijaksi Nettiperuskouluun. Löydät hyväksymisasiakirjan oheisena liitetiedostona.</p>
<p>Opiskelupaikka vastaanotetaan sähköisen tunnistautumisen tai mobiilivarmenteen avulla. Mikäli Sinulla ei ole pankkitunnuksia tai mobiilivarmennetta, voit ottaa opiskelupaikan vastaan tulostamalla oheisen ilmoittautumislomakkeen ja lähettämällä siitä kuva hakemuksen käsittelijälle sähköpostilla. Huom. Tähän osoitteeseen (haku@muikkuverkko.fi) ei voi vastata.</p>
<p>Ottaaksesi opiskelupaikan vastaan seuraa alla olevaa linkkiä.</p>
<p><a href="%s">Opiskelupaikan vastaanottaminen</a></p>
<p>Mikäli sinulla on kysyttävää, ota yhteyttä: <a href="mailto:nettiperuskoulu@otavia.fi">nettiperuskoulu@otavia.fi</a>.</p>
<p>Ystävällisin terveisin,<br/>
%s,<br/>
Nettiperuskoulun hakijapalvelut</p>