<meta charset="UTF-8"/>
<p>Hei %s<p>
<p>Sinut on hyväksytty opiskelijaksi Nettilukioon. Löydät hyväksymisasiakirjan oheisena liitetiedostona.</p>
<p>Opiskelupaikka vastaanotetaan sähköisen tunnistautumisen tai mobiilivarmenteen avulla. Mikäli Sinulla ei ole pankkitunnuksia tai mobiilivarmennetta, voit ottaa opiskelupaikan vastaan tulostamalla oheisen ilmoittautumislomakkeen ja lähettämällä siitä kuvan hakemuskäsittelijälle sähköpostilla.</p>
<p>Ottaaksesi opiskelupaikan vastaan seuraa alla olevaa linkkiä.</p>
<p><a href="%s">Opiskelupaikan vastaanottaminen</a></p>
<p>Ystävällisin terveisin,<br/>
%s,<br/>
Nettilukion hakijapalvelut</p>