<meta charset="UTF-8"/>
<p>Hei<p>
<p>Kiitos hakemuksestasi Nettiperuskoulun aineopiskelijaksi.</p>
<p>Pyydämme sinua vahvistamaan sähköpostiosoitteesi. Näin varmistamme, että saat kaikki hakemustasi koskevat tärkeät viestit. Huomaa, että vahvistamisessa on kaksi vaihetta: 1. vahvistuslinkin klikkaus, 2. syntymäaikasi syöttäminen.</p>
<p></p>
<p><a href="%s">Vahvista sähköpostiosoitteesi tästä</a></p>
<p></p>
<p>Kun olet vahvistanut sähköpostiosoitteesi onnistuneesti, hakijapalvelumme käsittelee ilmoittautumisesi kahden arkipäivän kuluessa.</p>
<p>Jos sinulla on kysyttävää, voit ottaa yhteyttä hakijapalveluumme osoitteessa <a href="mailto:nettiperuskoulu@otavia.fi">nettiperuskoulu@otavia.fi</a>.</p>
<p>Ystävällisin terveisin<br/>
Nettiperuskoulun hakijapalvelut</p>