<meta charset="UTF-8"/>
<p>Hei,<p>
<p>Ilmoittautumislomakkeesi on tallennettu. Jos olet alle 18-vuotias, tarkistamme tietosi Opetushallituksen Valpas-palvelusta ennen opiskelijaksi hyväksymistä. Oppivelvolliset ja maksuttomaan opiskeluun oikeutetut voivat opiskella Nettiperuskoulussa aineopiskelijana vain, jos asiasta on sovittu oman oppilaitoksen kanssa ja oppilaitos maksaa opiskelun. Lomakkeet käsitellään kahden arkipäivän kuluessa.</p>
<p>Tämä on automaattinen viesti. Mikäli sinulla on kysyttävää, ota yhteyttä: <a href="mailto:aineopiskelu@otavia.fi">aineopiskelu@otavia.fi</a></p>