<meta charset="UTF-8"/>
<p>Hei,<p>
<p>Kiitos hakemuksestasi Nettiperuskoulun aineopiskelijaksi.</p>
<p>Pyydämme sinua vahvistamaan sähköpostiosoitteesi. Näin varmistamme, että saat kaikki hakemustasi koskevat tärkeät viestit.</p>
<p></p>
<p><a href="%s">Vahvista sähköpostiosoitteesi tästä</a></p>
<p></p>
<p>Jos sinulla on kysyttävää, voit ottaa yhteyttä hakijapalveluumme osoitteessa <a href="mailto:aineopiskelu@otavia.fi">aineopiskelu@otavia.fi</a>.</p>
<p>Ystävällisin terveisin,<br/>
Nettiperuskoulun hakijapalvelut</p>