<meta charset="UTF-8"/>
<p>Hei,<p>
<p>Kiitos hakemuksestasi Nettilukion opiskelijaksi.</p>
<p>Pyydämme sinua vahvistamaan sähköpostiosoitteesi. Näin varmistamme, että saat kaikki hakemustasi koskevat tärkeät viestit.</p>
<p></p>
<p><a href="%s">Vahvista sähköpostiosoitteesi tästä</a></p>
<p></p>
<p>Kun olet vahvistanut sähköpostiosoitteesi onnistuneesti, lähetämme sinulle uuden viestin. Siinä on ohjeet, miten pääset tarvittaessa täydentämään tai muokkaamaan hakemuksesi tietoja.</p>
<p>Jos sinulla on kysyttävää, voit ottaa yhteyttä hakijapalveluumme osoitteessa nettilukio@otavia.fi.</p>
<p>Ystävällisin terveisin,<br/>
Nettilukion hakijapalvelut</p>