<p>Meillä on ilo kertoa, että Sinut on valittu opiskelijaksi Otavan Opiston nettilukioon. Nettilukio on osa Otavan Opiston aikuislukiota. Aikuislukiossa Sinulla on oikeus opiskella lukio-opintoja verkossa ja/tai osallistua lähiopetukseen Otavassa.</p>
<p>Otathan opiskelupaikkasi vastaan joko sähköisellä allekirjoituksella (sähköinen tunnistautuminen tai mobiilivarmenne) tai täyttämällä paperinen ilmoittautumislomake.</p>
<p>Vastaanotettuasi opiskelupaikkasi lähetämme Sinulle lisätietoja opintojen aloittamisesta.</p>
<p>Tervetuloa opiskelemaan!</p>