<p>Meillä on ilo kertoa, että Sinut on valittu opiskelemaan Otavian nettiperuskouluun. Voit ottaa opiskelupaikkasi vastaan joko sähköisellä allekirjoituksella (sähköinen tunnistautuminen tai mobiilivarmenne) tai täyttämällä paperisen ilmoittautumislomakkeen.</p>
<p>Nettiperuskoulussa Sinulla on oikeus opiskella aikuisten perusopetuksen opintoja internetin välityksellä Otavian oppimisympäristössä.</p>
<p>Vastaanotettuasi opiskelupaikan lähetämme Sinulle lisätietoja opintojen aloittamisesta.</p>
<p>Tervetuloa opiskelemaan kanssamme!</p>