<p>Meillä on ilo kertoa, että Sinut on valittu opiskelijaksi Otavian nettilukioon. Nettilukio on osa Mikkelin kaupungin liikelaitos Otavian toimintaa. Nettilukiossa voit suorittaa aikuislukion opintoja kokonaan verkossa. Aikuislukion oppimäärä on 44 kurssia.</p>
<p>Otathan opiskelupaikkasi vastaan joko sähköisellä allekirjoituksella (sähköinen tunnistautuminen tai mobiilivarmenne) tai täyttämällä paperinen ilmoittautumislomake.</p>
<p>Vastaanotettuasi opiskelupaikkasi lähetämme Sinulle lisätietoja opintojen aloittamisesta.</p>
<p>Tervetuloa opiskelemaan!</p>