<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fi" lang="fi" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
      @page {
        margin: 0;
      }
    </style>
  </head>
  <body style="background: url('/gfx/applications/pdf-background.jpg') no-repeat; color: #555;">
    <div style="margin-top: 0px; float: right; margin-right: 50px;">18.12.2017 Otava</div>
    <div id="student_application_wrapper">
      <div id="student_application">
        <div style="margin-top: 180px; margin-left: 100px; margin-right: 100px; height: 1200px; line-height: 1.4em;">
          <div>
            <h3>Heikki Uolevi Viljami Hakija</h3>
            <h2>ILMOITUS OPISKELIJAKSI HYVÄKSYMISESTÄ</h2>
            <div style="margin-bottom: 10px;">Meillä on ilo kertoa, että Sinut on valittu opiskelijaksi Otavan Opiston nettilukioon. Nettilukio on osa Otavan Opiston aikuislukiota. Aikuislukiossa Sinulla on oikeus opiskella lukio-opintoja verkossa ja/tai osallistua lähiopetukseen Otavassa.</div>
            <div style="margin-bottom: 10px;">Otathan opiskelupaikkasi vastaan joko sähköisellä allekirjoituksella (sähköinen tunnistautuminen tai mobiilivarmenne) tai täyttämällä paperinen ilmoittautumislomake.</div>
            <div style="margin-bottom: 20px;">Vastaanotettuasi opiskelupaikkasi lähetämme Sinulle lisätietoja opintojen aloittamisesta.</div>
            <div style="margin-bottom: 25px;">Tervetuloa opiskelemaan!</div>
            <div style="margin-bottom: 5px;">Harri Jokinen</div>
            <div style="margin-bottom: 25px;">Rehtori</div>
            <br/>
            <div style="margin-bottom: 5px;">Puolesta</div>
            <div style="margin-bottom: 5px;">Joku muu muka</div>
            <div style="margin-bottom: 10px;">Otavan Opisto, nettilukio</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>