<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fi" lang="fi" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/application-pdf-document.css" />
  </head>
  <body class="document">
    <div class="document__body">
      <h2>Opiskelupaikan vastaanottaminen</h2>
      <div>Linja: [DOCUMENT-APPLICANT-LINE]</div>
      <div>Nimi: [DOCUMENT-APPLICANT-NAME]</div>
      <div>Henkilötunnus: [DOCUMENT-APPLICANT-SSN]</div>
      <div>Osoite: [DOCUMENT-APPLICANT-ADDRESS]</div>
      <div>Kotikunta: [DOCUMENT-APPLICANT-MUNICIPALITY]</div>
      <div>Kansalaisuus: [DOCUMENT-APPLICANT-NATIONALITY]</div>
      <div>Puhelinnumero: [DOCUMENT-APPLICANT-PHONE]</div>
      <div>Sähköpostiosoite: [DOCUMENT-APPLICANT-EMAIL]</div>
      <div>Paikka ja päivämäärä: ______________________________</div>
      <div>Allekirjoitus: ______________________________</div>
      <div>Nimen selvennys: ______________________________</div>
    </div>
  </body>
</html>