<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fi" lang="fi" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/application-pdf-document-otava.css" />
  </head>
  <body class="document">
    <div class="document__body">
      <div class="document__date">[DOCUMENT-DATE] Otava</div>
      <div class="document__information">
        <h3>[DOCUMENT-APPLICANT]</h3>
        <h2>ILMOITUS OPISKELIJAKSI HYVÄKSYMISESTÄ</h2>
        [DOCUMENT-TEXT]
      </div>
      <div class="document__signing">
        <div class="document__signature-primary">
          [DOCUMENT-PRIMARY-SIGNER]
        </div>
        <div class="document__signature-secondary">
          [DOCUMENT-SECONDARY-SIGNER]
        </div>
      </div>
    </div>
  </body>
</html>