<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fi" lang="fi" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/application-pdf-document-otavia.css" />
  </head>
  <body class="document">
    <div class="document__body">
      <div class="document__information">
        <h2>OPISKELUPAIKAN VASTAANOTTAMINEN</h2>
        <div class="document__information-row">
          <div class="document__information-label">Hakemustunnus:</div>
          <div class="document__information-data">[DOCUMENT-APPLICATION-ID]</div>
        </div>
        <div class="document__information-row">
          <div class="document__information-label">Linja:</div>
          <div class="document__information-data">[DOCUMENT-APPLICANT-LINE]</div>
        </div>
        <div class="document__information-row">
          <div class="document__information-label">Nimi:</div> 
          <div class="document__information-data">[DOCUMENT-APPLICANT-NAME]</div>
        </div>
        <div class="document__information-row">
          <div class="document__information-label">Sähköpostiosoite:</div>
          <div class="document__information-data">[DOCUMENT-APPLICANT-EMAIL]</div>
        </div>
        <div class="document__information-row">
<p>Katsomusaineen valinta</p>
<p>Katsomusaineen valinnan perusteet on määritelty lukiolaissa. Nettilukiossa järjestetään
opiskelijoiden enemmistön uskonnon mukaista uskonnon opetusta (evankelis-luterilainen uskonto,
UE). Evankelis-luterilaiseen kirkkoon kuuluvat opiskelijat osallistuvat oman uskontonsa opetukseen
(UE). Opiskelija, joka ei kuulu evankelis-luterilaiseen kirkkoon, voi huoltajan luvalla osallistua
mainittuun uskonnonopetukseen (UE)</p>
<p>Ortodoksiseen kirkkokuntaan kuuluvien oppilaiden tulee osallistua ortodoksisen uskonnon
opetukseen, mikäli heidän huoltajansa eivät ole ilmoittaneet oppilaiden osallistuvan
evankelisluterilaisen uskonnon opetukseen. Huoltajat voivat myös valita ortodoksiseen kirkkoon
kuuluvalle alaikäiselle opiskelijalle evankelis-luterilaisen uskonnon opetuksen.</p>
<p>Uskontokuntiin kuulumattomille opiskelijoille järjestetään elämänkatsomustiedon (ET) opetusta.
Jos muuhun uskontokuntaan kuin evankelis-luterilaiseen kirkkoon kuuluvalle oppilaalle ei järjestetä
hänen oman uskontonsa mukaista opetusta, voi hän huoltajan pyynnöstä opiskella
elämänkatsomustietoa.</p>
<p>Muihin uskonnollisiin yhdyskuntiin kuuluville vähintään kolmelle opiskelijalle, jotka eivät osallistu
enemmistölle tarkoitettuun uskonnonopetukseen, järjestetään heidän oman uskontonsa opetusta,
jos opiskelijat (alaikäisillä heidän huoltajansa) sitä pyytävät. Opiskelijan on myös mahdollista anoa
vapautusta katsomusaineen opiskelusta, mikäli hänen oman uskontonsa mukaista opetusta ei
järjestetä. Opiskelija voi myös osallistua muun koulun järjestämän opetuksen tai ohjatun toiminnan
sijasta oman uskonnollisen yhdyskuntansa antamaan opetukseen. Nämä tilanteet selvitetään
erikseen tarvittaessa.</p>
<p>Katsomusaineen valinnan tulisi olla pysyvä. Valintaa voi jälkikäteen muuttaa perustellusta syystä,
esimerkiksi silloin jos uskonnollinen yhdyskunta muuttuu.</p>
<p>Valitse <b><u>yksi</u></b> vaihtoehto:<br/>
<input type="checkbox"/> Osallistun evankelis-luterilaisen uskonnon opetukseen<br/>
<input type="checkbox"/> Osallistun ortodoksisen uskonnon opetukseen<br/>
<input type="checkbox"/> Osallistun elämänkatsomustiedon opetukseen<br/>
<input type="checkbox"/> Pyydän yhteydenottoa muun vaihtoehdon selvittämiseksi</p>
        </div>
      </div>
      <div class="document__student-signature">
        <div class="document__signature-row">
          <div class="document__signature-label">Paikka ja päivämäärä:</div>
          <div class="document__signature-data"></div>
        </div>
        <div class="document__signature-row">
          <div class="document__signature-label">Hakijan allekirjoitus:</div>
          <div class="document__signature-data"></div>
        </div>
        <div class="document__signature-row">
          <div class="document__signature-label">Nimen selvennys:</div>
          <div class="document__signature-data"></div>
        </div>
        <div class="document__signature-row">
          <div class="document__signature-label">Huoltajan allekirjoitus:</div>
          <div class="document__signature-data"></div>
        </div>
        <div class="document__signature-row">
          <div class="document__signature-label">Nimen selvennys:</div>
          <div class="document__signature-data"></div>
        </div>
      </div>
    </div>
  </body>
</html>