<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fi" lang="fi" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/application-pdf-document.css" />
  </head>
  <body class="document">
    <div class="document__body">
      <div class="document__date">28.12.2017 Otava</div>
      <div class="document__information">
        <h3>Heikki Uolevi Viljami Hakija</h3>
        <h2>ILMOITUS OPISKELIJAKSI HYVÄKSYMISESTÄ</h2>
        <p>Meillä on ilo kertoa, että Sinut on valittu opiskelijaksi Otavan Opiston nettilukioon. Nettilukio on osa Otavan Opiston aikuislukiota. Aikuislukiossa Sinulla on oikeus opiskella lukio-opintoja verkossa ja/tai osallistua lähiopetukseen Otavassa.</p>
        <p>Otathan opiskelupaikkasi vastaan joko sähköisellä allekirjoituksella (sähköinen tunnistautuminen tai mobiilivarmenne) tai täyttämällä paperinen ilmoittautumislomake.</p>
        <p>Vastaanotettuasi opiskelupaikkasi lähetämme Sinulle lisätietoja opintojen aloittamisesta.</p>
        <p>Tervetuloa opiskelemaan!</p>
      </div>
      <div class="document__signing">
        <div class="document__signature-primary">
          <p>Harri Jokinen</p>
          <p>Rehtori</p>
        </div>
        <div class="document__signature-secondary">
          <p>Puolesta</p>
          <p>Joku muu muka</p>
          <p>Otavan Opisto, nettilukio</p>
        </div>
      </div>
    </div>
  </body>
</html>