<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fi" lang="fi" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/application-pdf-document-otava.css" />
  </head>
  <body class="document">
    <div class="document__body">
      <div class="document__information">
        <h2>OPISKELUPAIKAN VASTAANOTTAMINEN</h2>
        <div class="document__information-row">
          <div class="document__information-label">Hakemustunnus:</div>
          <div class="document__information-data">[DOCUMENT-APPLICATION-ID]</div>
        </div>
        <div class="document__information-row">
          <div class="document__information-label">Linja:</div>
          <div class="document__information-data">[DOCUMENT-APPLICANT-LINE]</div>
        </div>
        <div class="document__information-row">
          <div class="document__information-label">Nimi:</div> 
          <div class="document__information-data">[DOCUMENT-APPLICANT-NAME]</div>
        </div>
        <div class="document__information-row">
          <div class="document__information-label">Sähköpostiosoite:</div>
          <div class="document__information-data">[DOCUMENT-APPLICANT-EMAIL]</div>
        </div>
      </div>
      <div class="document__student-signature">
        <div class="document__signature-row">
          <div class="document__signature-label">Paikka ja päivämäärä:</div>
          <div class="document__signature-data"></div>
        </div>
        <div class="document__signature-row">
          <div class="document__signature-label">Hakijan allekirjoitus:</div>
          <div class="document__signature-data"></div>
        </div>
        <div class="document__signature-row">
          <div class="document__signature-label">Nimen selvennys:</div>
          <div class="document__signature-data"></div>
        </div>
        <div class="document__signature-row">
          <div class="document__signature-label">Huoltajan allekirjoitus:</div>
          <div class="document__signature-data"></div>
        </div>
        <div class="document__signature-row">
          <div class="document__signature-label">Nimen selvennys:</div>
          <div class="document__signature-data"></div>
        </div>
      </div>
    </div>
  </body>
</html>