<meta charset="UTF-8"/>
<p>Hei %s,<p>
<p>Käyttäjätilisi Otavan Opiston Muikku-oppimisympäristöön on nyt aktivoitu. Olet ilmeisesti opiskellut Muikussa aiemminkin, sillä tiliisi on jo liitetty käyttäjätunnus.</p>
<p>Voit kirjautua Muikkuun aiemmilla tunnuksillasi:<br/>
<a href="https://otavanopisto.muikkuverkko.fi">https://otavanopisto.muikkuverkko.fi</a></p>
<p>Mikäli olet unohtanut käyttäjätunnuksesi tai salasanasi, voit palauttaa ne sähköpostiisi Muikun etusivulta löytyvän <i>Unohditko salasanasi?</i> -linkin kautta.</p>
<p>Ystävällisin terveisin,<p>
<p>%s,<br/>
Otavan Opisto</p>