<meta charset="UTF-8"/>
<p>Hei,<p>
<p>Olemme vastaanottaneet hakemuksesi opiskelemaan Otavan Opistoon linjalle %s. Hakemuksen käsittelyyn saakka voit halutessasi vielä muuttaa antamiasi tietoja kirjautumalla alla olevalle sivulle sukunimelläsi ja hakemustunnuksellasi.</p>
<p></p>
<p><a href="https://pyramus.otavanopisto.fi/applications/edit.page">Hakemustietojen muokkaaminen</a></p>
<p>Sukunimi: <b>%s</b><br/>Hakemustunnus: <b>%s</b></p>
<p></p>
<p>Tämä on automaattisesti generoitu viesti. Ongelmatilanteissa, tai jos sinulla on kysyttävää, voit olla yhteydessä seuraaviin tahoihin:</p>
<p><b>Vapaan sivistystyön kurssit</b><br/>koulutussihteeri Heli Auvinen<br/>044 794 3565<br/>kurssit@otavanopisto.fi</p>
<p><b>Monikulttuuriset koulutukset</b><br/>Anna-Maria Suora<br/>044 794 3515<br/>anna-maria.suora@otavanopisto.fi</p>
<p><b>Nettilukio</b><br/>Miia Sivén<br/>040 129 4671<br/>miia.siven@otavanopisto.fi</p>
<p><b>Nettiperuskoulu</b><br/>Annukka Manninen<br/>044 794 5108<br/>annukka.manninen@otavanopisto.fi</p>
<p><b>Aineopiskelu</b><br/>Sari Jaaranen<br/>044 794 5271<br/>sari.jaaranen@otavanopisto.fi</p>
<p><b>Lähilukio</b><br/>Otavan Opiston toimisto<br/>p. 015 194 3552<br/>info@otavanopisto.fi</p>
<p><b>Bändilinja</b><br/>Jukka Tikkanen<br/>044 794 5103<br/>bandilinja@otavanopisto.fi</p>