/*
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
////////////////////                                 ////////////////////////
////////////////////       TABLET (LANDSCAPE)        ////////////////////////
////////////////////            DESKTOP              ////////////////////////
////////////////////                                 ////////////////////////
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
*/
 
.application-header {
  height: 85px;
} 

.application-header__content {
  padding: 0 30px;
} 

.application-header__logo {
  background: #000;
  border-radius: 100%;
  font-size: 1.125rem;
  height: 115px;
  justify-content: center;
  line-height: 1.1;
  position: absolute;
  top: -20px;
  width: 115px;
}

.application-content {
  align-items: flex-start;
  flex-flow: row nowrap;
  margin: 50px 30px;
} 

.application-content__information {
  flex-basis: calc(40% - 20px);
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0 0 0 20px;
  order: 2;
  padding: 20px;
}

.application-content__form {
  flex-basis: calc(60% - 20px);
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0 20px 0 0;
  order: 1;
}

input, 
textarea {
  padding: 12px;
}

select {
  padding: 11px 8px;
}

button {
  padding: 10px 16px;
}

input[type="checkbox"] {
  height: 26px;
  width: 26px;
}

.application-footer__contact {
  padding: 30px;  
}

.application-footer__links {
  padding: 30px;
}

.application-footer__external-link:hover {
  background: #0f94d2;
  border-radius: 3px;
}
