/* FORM STRUCTURE */
.form-section {
  display: none;
  margin: 0 0 20px;
}

.form-section.current {
  display: inherit;
}

.form-section__field-container {
  margin: 10px 0;
} 

.field-button-set {
  
}
 
.summary-container {
  margin: 20px 0;
} 

.field-row-flex {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.field-row-flex .field-row-element {
  flex: 0 1 auto;
}

.field-row-flex .field-row-label {
  flex: 1 1 auto;
}

.form-section__field-container.dependent {
  display: none;
} 

/* FORM ELEMENTS */
label {
  font-weight: 400;
  display: block;
}

label.required::after {
  content: '*';
  font-size: 14px;
  color: #d31111;
  padding: 0 4px;
}

.field-row label {
  display: inline-block;
}

.field-row-element input[type="checkbox"],
.field-row-element input[type="radio"] {
  margin: 6px 10px 6px 0;
}

.field-help {
  font-size: 13px;
  font-style: italic;
}

input,
textarea, 
select, 
option, 
select,
button {
  background: #fff;
  font-family: "Exo 2", arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
}

input,
textarea {
  margin: 0;
  padding: 8px;
  border-radius: 3px;
  border: 2px solid #a9e4ef;
  max-width: 100%;
  width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  align-items: center;
  appearance: none;
  border: 2px solid #a9e4ef;
  border-radius: 3px;
  display: flex;
  height: 21px;
  justify-content: center;
  width: 21px;
}

input[type="checkbox"]:checked {
  background-color: #5db5c5;
  border: solid 2px #5db5c5;
  position: relative;
}

input[type="checkbox"]:checked::after {
  color: #fff;
  content: "\2713"; /* Checkmark */
  font-family: "Exo 2";
  font-size: 16px;
  font-weight: 900;
  position: relative;
  top: -1px;
}

select {
  font-size: 14px;
  border-radius: 3px;
  border: 2px solid #a9e4ef;
  width: 100%;
  padding: 6px 4px;
  text-overflow: ellipsis;
}

option {
  word-wrap: break-word;
  overflow: hidden;
}

.nicknames-container .nickname {
  padding: 4px 8px;
  border-radius: 3px;
  background: #eee;
  transition: background 0.2s ease-in;
  display: inline-block;
  margin: 2px 5px 2px 0;
  cursor: pointer;
}

.nicknames-container .nickname.selected {
  background: #29b0c4;
  color: #fff;
  font-weight: 400;
}

/* FORM NAVIGATION */
.form-navigation {
  text-align: center;
  margin: 20px 0 0;
}

button {
  padding: 6px 12px;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.previous,
.next {
  background: #000;
}

.button-save-application, 
.button-edit-application,
.button-create-credentials {
  background: #27b91c;
}

.button-save-logentry {
  background: #2dbf90;
}

.button-send-mail,
.button-apply-template {
  background: #2dbf90;
}

.button-cancel-logentry {
  background: #95bcc3;
  margin: 0 0 0 10px;
}

.application-page-indicator {
  display: inline-block;
  padding: 0 10px;
}