/*
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
////////////////////                                 ////////////////////////
////////////////////       TABLET (LANDSCAPE)        ////////////////////////
////////////////////            DESKTOP              ////////////////////////
////////////////////                                 ////////////////////////
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
*/
 
.application-actions-header {
  height: 65px;
}

.application-actions-container {
  padding: 0 20px;
}

.application-action {
  background-color: #414141;
  background-size: 14px 14px;
  background-position: 2px center;
  background-repeat: no-repeat;
  border: 6px solid transparent;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  height: 32px;
  margin: 0 5px;
  padding: 0 4px 0 24px;
  transition: all 0.2s ease-in-out;
  width: auto;
}

.application-action--logs {
  display: none;
}

.application-action__label {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}

.application-wrapper {
  margin: 75px 20px 20px; /* Top margin is Height of the navigation bar + 10px extra spacing */
  width: auto;
}

.application-section.application-actions {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 10px 0;
}

.application-section.application-meta {
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  border-top: 1px solid #e2e2e2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0;
  padding: 15px 20px;
}

.additional-info-container {
  align-content: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.meta-container {
  display: flex;
  flex-flow: row nowrap;
  flex-basis: 0;
  flex-grow: 0;
  flex-shrink: 1;
  line-height: 1;
  margin: 0;
  padding: 5px 30px 5px 0
}

.meta-name {
  flex-grow: 1;
  min-width: auto;
  margin: 0 10px 0 0;
  white-space: nowrap;
}

.meta-value {
  flex-grow: 1;
  min-width: auto;
  white-space: nowrap;
}

.application-section.application-data {
  border-left: 1px solid #e2e2e2;
  flex-basis: calc(55% - 40px);
  flex-grow: 1;
  flex-shrink: 1;
  padding: 20px;
}

.application-section.application-logs {
  align-content: flex-start;
  border-right: 1px solid #e2e2e2;
  display: flex;
  flex-basis: calc(45% - 40px);
  flex-flow: row wrap;
  flex-grow: 1;
  flex-shrink: 1;
  order: 4;
  padding: 20px;
}

.application-log-header,
.application-data-title {
  font-size: 26px;
  font-weight: 300;
  margin: 0 0 10px;
}

.application-log-header {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}

.application-logs-tabs {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}

.application-mail,
.application-comment {
  padding: 15px;
}
