/* @charset "UTF-8"; */
@import url('//fonts.googleapis.com/css?family=Exo+2:200|Open+Sans:300,400');

@page {
  -fs-flow-top: "header";
  -fs-flow-bottom: "footer";
  background-color: #fff;
  background-image: url('/gfx/applications/pdf-background.jpg'); 
  background-position: top center; 
  background-repeat: no-repeat; 
  background-size: 100%;
  margin: 0;
  padding: 0;
  size: 210mm 297mm;
}

body {
  color: #2c2c2c;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300
}

.document__body {
  padding: 150px 40px 0 95px;
  position: relative;
}

.document__date {
  display: inline-block;
  position: absolute;
  right: 40px;
  top: 150px;
}

.document__information h3 {
  margin: 0 0 30px;
}

.document__information h2 {
  margin: 0 0 10px;
}

.document__infofrmation p {
  margin: 0 0 10px;
}

.document__signature-primary,
.document__signature-secondary {
  margin: 80px 0;
}

.document__signature-primary p,
.document__signature-secondary p {
  margin: 0 0 5px;
}


