@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Exo+2:200|Open+Sans:300,400');

/* 
  FONTS: 
  - Open Sans = Body font used i every paragraph etc.
  - Exo 2 = Title font used in section titles and headers 
*/

* {
  box-sizing: border-box;
}

/* BASIC STYLING - MOBILE FIRST */
body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 14px;
}

main {
  max-width: 100%;
  margin: 20px;
}

h3 {
  margin:0 0 20px;
  padding: 0;
  font-family: "Exo 2";
  font-weight: 200;
  font-size: 26px;
  color: #009fe3;
}

/* APPLICATION SECTIONS */
.form-section {
  display: none;
}

.form-section.current {
  display: inherit;
}

/* FORM SUB SECTION */
.field-container {
  margin: 10px 0;
} 

.field-container.dependent {
  display: none;
} 

/* FORM ELEMENTS */
label {
  font-weight: 400;
  display: block;
}

.field-help {
  font-size: 13px;
  font-style: italic;
}

input[type="text"],
input[type="email"],
input[type="date"] {
  margin: 0;
  padding: 4px 8px;
  background: #fff;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #5db5c5;
  max-width: 100%;
  width: 100%;
}

select {
  background: #fff;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #5db5c5;
  max-width: 100%;
}

option {
  background: #fff;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 14px;
  padding: 4px 8px;
  word-wrap: break-word;
}

/* FORM NAVIGATION */

.form-navigation {
  text-align: center;
  margin: 20px 0;
}

button {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
}

button.previous {
  background: #5db5c5;
}

button.next {
  background: #009fe3;
}

button.button-submit {
  background: #27b91c;
}

.application-progress-indicator {
  display: inline-block;
}

/* UPLOAD PROGRESS */
.ui-progressbar {
  background-color: rgb(240,240,240);
  width: 100%;
  height: 10px;  
}

.ui-progressbar-value {
  background-color: green;
  height: 10px;  
}

/* FILE UPLOAD */
.field-attachments-selector {
  width: 100%;
  height: 200px;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
}