/*
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
////////////////////                                 ////////////////////////
////////////////////           DESKTOP XL            ////////////////////////
////////////////////                                 ////////////////////////
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
*/

.application-actions-container {
  margin: 0 auto;
  max-width: 1240px;
}

.application-wrapper {
  margin: 75px auto 40px; /* Top margin is Height of the navigation bar + 10px extra spacing */
  max-width: 1200px;
}

.application-section.application-meta {
  padding: 15px 25px;
}

.application-section.application-data,
.application-section.application-logs {
  padding: 25px;
}