/*
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
////////////////////                                 ////////////////////////
////////////////////           MOBILE                ////////////////////////
////////////////////                                 ////////////////////////
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
*/

body {
  padding: 0;
  background-color: #fff;
  font-family: "Open Sans", arial, sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  line-height: 1.5;
  min-width: 320px;
  margin: 0;
  color: #000;
}

/* HEADER */
.application-header {
  background-color: #0080bb;
  display: flex;
  font-family: "Exo 2", arial, sans-serif;
  height: 50px;
  width: 100%;
}

.application-header__content {
  padding: 0 15px;
  position: relative;
  width: 100%;
  z-index: 9;
}

.application-header__logo {
  align-items: center;
  color: #fff;
  display: flex;
  font-weight: 900;
  height: 50px;
  justify-content: flex-start;
  line-height: 1;
  text-transform: uppercase;
}

.application-header__logo-text {
  display: block;
}

.application-header__logo-branding {
  color: #000;
}

/* CONTENT */
.application-description {
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}

.application-content {
  background-color: #fff;
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  flex-flow: column nowrap;
  flex-shrink: 1;
  margin: 0 0 20px;
  max-width: 100%;
  padding: 15px;
  position: relative;
}

.application-content__information {
  background-color: #f4f4f4;
  border-radius: 5px;
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0 0 20px;
  order: 1;
  padding: 20px;
}

.application-content__information-page-specific {
  margin: 0 0 10px;
}

.application-content__information-line-specific {
  margin: 10px 0 0;
}

.application-content__information-page-specific p:first-child,
.application-content__information-line-specific p:first-child {
  margin: 0 0 10px;
}

.application-content__information-page-specific p:last-child,
.application-content__information-line-specific p:last-child {
  margin: 10px 0 0;
}

.application-content__form {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  order: 2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Exo 2", arial, sans-serif;
  font-weight: 300;
}

h3 {
  margin: 0 0 20px;
  padding: 0;
  font-size: 22px;
  line-height: 1;
}

a {
  color: #009fe3;
}

/* FORM STRUCTURE */
.form-section {
  display: none;
}

.form-section.current {
  display: inherit;
}

.form-section__field-container {
  margin: 10px 0;
} 

.field-button-set {
  
}
 
.summary-container {
  margin: 20px 0;
} 


.field-row-flex {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.field-row-flex .field-row-element {
  flex: 0 1 auto;
}

.field-row-flex .field-row-label {
  flex: 1 1 auto;
}

.field-row {
  
}

.field-row .field-row-element {
  
}

.field-row .field-row-label {
  
}

.field-container.dependent {
  display: none;
} 

/* FORM ELEMENTS */
label {
  font-weight: 400;
  display: block;
}

label.required::after {
  content: '*';
  font-size: 14px;
  color: #d31111;
  padding: 0 4px;
}

.field-row label {
  display: inline-block;
}

.field-row-element input[type="checkbox"],
.field-row-element input[type="radio"] {
  margin: 6px 10px 6px 0;
}

.field-help {
  font-size: 13px;
  font-style: italic;
}

input,
textarea, 
select, 
option, 
select,
button {
  background: #fff;
  font-family: "Open Sans", arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
}

input,
textarea {
  margin: 0;
  padding: 6px;
  border-radius: 3px;
  border: 1px solid #5db5c5;
  max-width: 100%;
  width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  align-items: center;
  appearance: none;
  border: 1px solid #5db5c5;
  border-radius: 3px;
  display: flex;
  height: 21px;
  justify-content: center;
  width: 21px;
}

input[type="radio"] {
  border-radius: 100%;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background-color: #5db5c5;
  border: solid 1px #5db5c5;
  position: relative;
}

select {
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #5db5c5;
  width: 100%;
  padding: 4px;
  text-overflow: ellipsis;
}

option {
  word-wrap: break-word;
  overflow: hidden;
}

.nicknames-container .nickname {
  padding: 4px 8px;
  border-radius: 3px;
  background: #eee;
  transition: background 0.2s ease-in;
  display: inline-block;
  margin: 2px 5px 2px 0;
  cursor: pointer;
}

.nicknames-container .nickname.selected {
  background: #29b0c4;
  color: #fff;
  font-weight: 400;
}

/* FORM NAVIGATION */
.form-navigation {
  text-align: center;
  margin: 20px 0 0;
}

button {
  padding: 6px 12px;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.previous,
.next {
  background: #000;
}

.button-save-application, 
.button-edit-application,
.button-create-credentials {
  background: #27b91c;
}

.button-save-logentry {
  background: #2dbf90;
}

.button-send-mail,
.button-apply-template {
  background: #2dbf90;
}

.button-cancel-logentry {
  background: #95bcc3;
  margin: 0 0 0 10px;
}

.application-page-indicator {
  display: inline-block;
  padding: 0 10px;
}

/* UPLOAD PROGRESSBAR */
.ui-progressbar {
  width: 100%;
  height: 20px;
}

.ui-progressbar-value {
  background: #87d7e6;
  width: 100%;
  height: 20px;
  border-radius: 3px;  
}

.application-file-upload-progress-text {
  font-size: 13px;
  font-style: italic;
}

/* FILE UPLOADER */
.field-attachments {
  margin: 40px 0;
}

.field-attachments__selector-container {
  position: relative;
  background: #fff;
  border: 1px solid #5db5c5;
  cursor: pointer;
  border-radius:3px;
}

.field-attachments__selector {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.field-attachments__description {
  padding: 20px;
  color: #5db5c5;
  text-align: center;
}

.field-attachments__files {
   margin: 20px 0 0;
}

.application-file {
  padding: 6px;
  background: #5db5c5;
  margin: 8px 0;
  border-radius: 3px;
  color: #fff;
  position: relative;
}

.application-file__details {
  margin: 0 30px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.application-file__name a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.application-file__size {
  color: #bef7fe;
  font-size: 13px;
  font-style: italic;
  font-weight: 400;
  padding: 0 10px;
}

.application-file__delete {
  position: absolute;
  right: 10px;
  top: 50%;
  bottom: 0;
  margin: -8px 0 0;
  width: 16px;
  height: 16px;
  font-size: 13px;
  cursor: pointer;
  background: url('../gfx/icons/48x48/actions/close.png') center center no-repeat;
  background-size: contain;
}

/* FOOTER */
.application-footer {
  background-color: #5db5c5;
  font-family: "Exo 2", arial, sans-serif;
  font-size: 0.875rem;
  width: 100%;
}

.application-footer__contact {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 15px;  
  width: 100%;
}

.application-footer__contact-title {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  line-height: 1;
  padding: 0 0 10px;
}

.application-footer__contact-row {
  color: #fff;
  line-height: 1;
  padding: 5px 0;
}

.application-footer__contact-row-label {
  font-weight: 600;
}

.application-footer__links {
  align-items: center;
  background-color: #0080bb;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 15px;
  text-align: center;  
  width: 100%;
}

.application-footer__external-link {
  color: #fff;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1;
  line-height: 1;
  padding: 5px 10px;
  text-decoration: none;
  transition: background 0.3s ease-in-out;
}
