@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Exo+2:200|Open+Sans:300,400');

/* 
  FONTS: 
  - Open Sans = Body font used in every paragraph etc.
  - Exo 2 = Title font used in section titles and headers 
*/

* {
  box-sizing: border-box;
}

/* BASIC STYLING - MOBILE FIRST */
body {
  padding: 0;
  background: #fff;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 14px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  min-width: 320px;
  margin: 0;
  color: #000;
}

@media screen and (min-width: 600px) {
  
  body {
    font-size: 16px;
  }
}

main.application {
  max-width: 100%;
  flex: 1 1 auto;
  position: relative;
  margin: 10px;
}

@media screen and (min-width: 600px) {
  
  main.application {
    max-width: 600px;
    margin: 60px;
  } 
}

main.application-management {
  max-width: 100%;
  flex: 1 1 auto;
  position: relative;
  margin: 46px 10px;
}

@media screen and (min-width: 600px) {
  
  main.application-management {
    max-width: 1024px;
    margin: 52px 10px;
  }
}

.application-logo-header {
  background: url('/../gfx/gui/logo_otavanopisto.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 30px;
}

@media screen and (min-width: 600px) {
  
  .application-logo-header {
    height: 50px;
  }
}

.application-info-paragraph {
  padding: 6px 12px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 1.5em;
}

@media screen and (min-width: 600px) {
  
  .application-info-paragraph {
    font-size: 20px;
  }
}

.application-info-paragraph.in-progress {
  background: #dffbfb; 
}

.application-info-paragraph.notify {
  background: #ffd8c1; 
}

 .application-contact-info-description {
   font-weight: 400;
 }

h3 {
  margin:10px 0;
  padding: 0;
  font-family: "Exo 2";
  font-weight: 200;
  font-size: 26px;
}

/* Specific h3 style */
.application-form-section-header {
  color: #009fe3;
}

@media screen and (min-width: 600px) {
  
  h3 {
    font-size: 30px;
    margin: 20px 0;
  }
}

a {
  color: #009fe3;
}

/* FORM STRUCTURE */
.form-section {
  display: none;
}

.form-section.current {
  display: inherit;
}

.field-container {
  margin: 10px 0;
} 

.field-button-set {
  
}
 
.summary-container {
  margin: 20px 0;
} 


.field-row-flex {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.field-row-flex .field-row-element {
  flex: 0 1 auto;
}

.field-row-flex .field-row-label {
  flex: 1 1 auto;
}

.field-row {
  
}

.field-row .field-row-element {
  
}

.field-row .field-row-label {
  
}

.field-container.dependent {
  display: none;
} 

/* FORM ELEMENTS */
label {
  font-weight: 400;
  display: block;
}

@media screen and (min-width: 600px) {
  
  label {
    margin: 2px 0;
  }
}

label.required::after {
  content: '*';
  font-size: 14px;
  color: #d31111;
  padding: 0 4px;
}

.field-row label {
  display: inline-block;
}

.field-row-element input[type="checkbox"],
.field-row-element input[type="checkbox"] {
  margin: 10px;
}

.field-help {
  font-size: 13px;
  font-style: italic;
}

@media screen and (min-width: 600px) {
  
  .field-help {
    font-size: 15px;
  }
}

input,
textarea {
  margin: 0;
  padding: 8px;
  background: #fff;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #5db5c5;
  max-width: 100%;
  width: 100%;
}

@media screen and (min-width: 600px) {
  
  input,
  textarea {
    padding: 12px;
    font-size: 16px;
  }
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
}

select {
  background: #fff;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #5db5c5;
  width: 100%;
  padding: 4px;
  text-overflow: ellipsis;
}

@media screen and (min-width: 600px) {
  
  select {
    padding: 8px;
    font-size: 16px;
  }
}

option {
  background: #fff;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 14px;
  word-wrap: break-word;
  overflow: hidden;
}

.nicknames-container .nickname {
  padding: 4px 8px;
  border-radius: 3px;
  background: #eee;
  transition: background 0.2s ease-in;
  display: inline-block;
  margin: 2px 5px 2px 0;
  cursor: pointer;
}

.nicknames-container .nickname.selected {
  background: #29b0c4;
  color: #fff;
  font-weight: 400;
}

/* FORM NAVIGATION */
.form-navigation {
  text-align: center;
  margin: 20px 0 0;
}

button {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  
  button {
    font-size: 18px;
    padding: 10px 16px;
  }
}

.previous,
.next {
  background: #009fe3;
}

.button-save-application, 
.button-edit-application,
.button-create-credentials {
  background: #27b91c;
}

.button-save-logentry {
  background: #2dbf90;
}

.button-send-mail,
.button-apply-template {
  background: #2dbf90;
}

.button-cancel-logentry {
  background: #95bcc3;
  margin: 0 0 0 10px;
}

.application-page-indicator {
  display: inline-block;
  padding: 0 10px;
}

/* UPLOAD PROGRESS */
.ui-progressbar {
  width: 100%;
  height: 20px;
}

.ui-progressbar-value {
  background: #87d7e6;
  width: 100%;
  height: 20px;
  border-radius: 3px;  
}

.application-file-upload-progress-text {
  font-size: 13px;
  font-style: italic;
}

/* FILE UPLOAD */
.field-attachments-selector-container {
  position: relative;
  background: #fff;
  border: 1px solid #5db5c5;
  cursor: pointer;
  border-radius:3px;
}

.field-attachments-selector {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.file-upload-description {
  padding: 20px;
  color: #5db5c5;
  text-align: center;
}

.field-attachments-files {
   margin: 20px 0 0;
}

.application-file {
  padding: 6px;
  background: #5db5c5;
  margin: 8px 0;
  border-radius: 3px;
  color: #fff;
  position: relative;
}

.application-file-details {
  margin: 0 30px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.application-file-name a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.application-file-size {
  color: #bef7fe;
  font-size: 13px;
  font-style: italic;
  font-weight: 400;
  padding: 0 10px;
}

.application-file-delete {
  position: absolute;
  right: 10px;
  top: 50%;
  bottom: 0;
  margin: -8px 0 0;
  width: 16px;
  height: 16px;
  font-size: 13px;
  cursor: pointer;
  background: url('../gfx/icons/48x48/actions/close.png') center center no-repeat;
  background-size: contain;
}

/* NOTIFICATION QUEUE */
.notification-queue {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.notification-queue-item {
  color: #fff;
  position: relative;
  background: #000;
  opacity: 0.95;
  padding: 0 10px;
}

.notification-queue-item-error {
  background: #d31111;
}

.notification-message-container {
  margin: 0 auto;
  padding: 20px 45px 20px 0;
  position: relative;
}

@media screen and (min-width: 600px) {

  .notification-message-container {
    padding: 40px 60px 40px 0;
    max-width: 1024px;
  }
}

.notification-queue-item-close {
  position: absolute;
  right: 10px;
  top: 50%;
  margin: -12px 0 0;
  height: 24px;
  width: 24px;
  background: url('../gfx/icons/48x48/actions/close.png') center center no-repeat;
  background-size: contain;
}

@media screen and (min-width: 600px) {

  .notification-queue-item-close {
    position: absolute;
    right: 10px;
    top: 50%;
    margin: -16px 0 0;
    height: 32px;
    width: 32px;
    background: url('../gfx/icons/48x48/actions/close.png') center center no-repeat;
    background-size: contain;
  }
}

/* PRIVACY POLICY */
.privacy-policy-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #000;
  opacity: 0.8;
  z-index: 99;
  width: 100%;
}

.privacy-policy-container {
 max-width: 600px;
 margin: 0;
 background: #fff;
 padding: 0 20px;
 z-index: 100;
 position: absolute;
 top: 0;
 left: 0;
}

@media screen and (min-width: 600px) {
  
  .privacy-policy-container {
    max-width: 600px;
    margin: 0 0 0 -300px;
    background: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    padding: 0 20px;
    z-index: 100;
    position: absolute;
    top: 20px;
    left: 50%;
  }
}

.privacy-policy-close {
  background: url('../gfx/icons/48x48/actions/close.png') #009fe3;
  background-size: contain;
  width: 32px;
  height: 32px;
  padding: 4px;
  border-radius: 100%;
  position: absolute;
  right: 10px;
  top: 10px;
  border: 5px solid #009fe3;
  cursor: pointer;
}

.important {
	font-weight: 400;
	font-size: 20px;
}	

.important	span {
	border-radius: 3px;
	padding: 8px;
	background: #e1ffff;
	font-size: 26px;
  margin: 0 10px;
  display: inline-block;
  font-weight: 300;
}

span.email {
	font-weight: 400;
  display: inline-block;
}

/* APPLICATITON MANAGEMENT */
.application-actions-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #0f7b92;
  text-align: center;
  z-index:99;
  display: flex;
  justify-content: center; 
  flex-flow: row nowrap;
}

.application-actions-container {
  max-width: 100%;
  flex: 1 1 auto;
  height: 46px;
  margin: 0 10px;
}

/* Icon wrapper size change for mobile */
@media screen and (min-width: 600px) {

  .application-actions-container {
    height: 52px;
    margin: 0 10px;
  }
}

@media screen and (min-width: 1024px) {

  .application-actions-container {
    max-width: 1024px;
    height: 52px;
  }
}

.application-action {
  width: 26px;
  height: 26px;
  display: inline-block;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 10px;
  cursor: pointer;
}

.application-action:hover {
  border-radius: 2px;
  background-color: #0ca0c0;
  box-shadow: 0 0 0 5px #0ca0c0;
}

/* Icon size change for mobile view */
@media screen and (min-width: 600px) {

  .application-action {
    width: 28px;
    height: 28px;
    margin: 12px;
  }
}

.application-action.icon-view {
  background-image: url(../gfx/icons/48x48/actions/view.png);
  float: left;
  margin-left: 0;
}

.application-action.icon-edit {
  background-image: url(../gfx/icons/48x48/actions/edit.png);
  float: left;
  margin-left: 0;
}

.application-action.icon-locked {
  background-image: url(../gfx/icons/48x48/actions/locked.png);
  float: left;
  background-color: #d84b2d;
  border: 4px solid #d84b2d;
  border-radius: 5px;
  box-sizing: content-box;
  margin: 6px;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
}

/* Icon size change for mobile view */
@media screen and (min-width: 600px) {

  .application-action.icon-locked {
    margin: 7px;
    border: 5px solid #d84b2d;
  }
}

.application-action.icon-unlocked {
  background-image: url(../gfx/icons/48x48/actions/unlocked.png);
  float: left;
  background-color: #1ce617;
  border: 4px solid #1ce617;
  border-radius: 5px;
  box-sizing: content-box;
  margin: 6px;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
}

/* Icon size change for mobile view */
@media screen and (min-width: 600px) {

  .application-action.icon-unlocked {
    margin: 7px;
    border: 5px solid #1ce617;
  }
}

.application-action.icon-logs {
  background-image: url(../gfx/icons/48x48/actions/logs.png);
  float: right;
}

.application-action.icon-mail {
  background-image: url(../gfx/icons/48x48/actions/mail.png);
  float: right;
  margin-right: 0;
}

.application-wrapper {
  width: 100%;
  flex-flow: row wrap;
  display: flex;
}

/* Data <section> */
.application-data {
  max-width: 100%;
  flex: 1 1 100%;
  order: 2;
}

@media screen and (min-width: 768px) {

  .application-data {
    flex: 1 1 58%;
    order: 1;
  }
}

/* Specific h3 style */
.application-data-header {
  color: #009fe3;
}

.application-data-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  margin: 20px 0 0;
}

.application-sub-section {
  padding: 0 0 20px;
}

@media screen and (min-width: 600px) {

  .application-data-title {
    font-size: 18px;
  }
}

/* View mode application data */
.data-container {
   display: flex;
   flex-flow:row wrap;
   justify-content: center;
   margin: 10px 0;
 }
 
.data-name {
   flex: 1 1;
   margin: 0 2% 0 0;
 }
 
.data-value {
   flex: 1 1;
   font-weight: 400;
   word-wrap: break-word;
 }

/* Meta <section> */
.application-meta {
  max-width: 100%;
  flex: 1 1 100%;
  order: 1;
}

@media screen and (min-width: 768px) {

  .application-meta {
    flex: 1 1 40%;
    margin: 0 0 0 2%;
    order: 2;
  }
}

/* Specific h3 style */
.application-meta-header {
  color: #009fe3;
}

 /* View mode application meta */
.meta-container {
   display: flex;
   flex-flow:row wrap;
   justify-content: center;
   margin: 10px 0;
 }
 
.meta-name {
   flex: 0 1;
   min-width: 125px;
 }
 
.meta-value {
  flex: 2 1;
  font-weight: 400;
  word-wrap: break-word;
 }

.user-exists-container {
  background: #fcdcdb;
  width: 100%;
  min-height: 100px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  align-items: center;
  margin: 20px 0 0;
}

.user-exists-description-title {
  font-weight: 400;
  margin: 0 10px 10px;
  color: #6e0303;
  font-size: 16px;
}

.user-exists-description {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.user-exists-description-piggy {
  background: url('../gfx/piggy.png') #fcdcdb no-repeat center center;
  background-size: contain;
  width: 80px;
  height: 80px;
  flex: 0 0 80px;
  margin: 2px 15px 0 5px;
}

.user-exists-description-actions {
  font-size: 14px;
  flex: 1 1 auto;
}

.user-exists-description-actions span {
  display: inline-block;
  margin: 4px 4px 4px 0;
}

.user-exists-user-link-container a {
  color: #fff;
  background: #f563a6;
  border-radius: 4px;
  display: inline-block;
  padding: 2px 8px;
  text-decoration: none;
  font-weight: 400;
}

.additional-info-container {
  background: #d4f6ff;
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  font-size: 14px;
  margin: 20px 0 20px;
  min-height: 100px;
  padding: 5px 15px;
  width: 100%;
}

.application-handling-container {
  border-top: 1px solid #eee;
  font-size: 14px;
  padding: 10px 15px;
}

.application-handling-container.processing {
  position: relative;
}

.processing-overlay {
  background-color: #fff;
  background-image: url("../gfx/gui/processing.gif");
  background-repeat: no-repeat;
  background-position: center;
  bottom: 0;
  left: 0;
  opacity: 0.9;
  right: 0;
  top: 0;
  position: absolute;
  z-index: 9;
}

.processing-icon {
  background-image: url("../gfx/gui/processing.gif");
  background-repeat: no-repeat;
  background-position: center;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  z-index: 11;
}

.application-handling-option,
.signatures-container {
  padding: 5px 0;
}

.application-handling-text {
  color: #009fe3;
  cursor: pointer;
  font-weight: 400;
}

.application-handling-text:hover {
  text-decoration: underline;
}

.start-handling {
  color: #009fe3; 
}

.cancel-handling {
  color: #7391a7; 
}

.decline-application {
  color: #d31111; 
}

.start-processing {
  color: #24c118; 
}

.accept-application {
  color: #24c118; 
}

.signatures-auth-sources {
  align-items: center;
  background: #f2f2f2;
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 2px;
}

.signatures-auth-sources img {
  background: #fff;
  border: 2px solid #eee;
  border-radius: 4px;
  height: 55px;
  padding: 5px;
  margin: 2px;
}

.signatures-auth-sources img:hover {
  border: 2px solid #83f8f3;
}

.attachments-container {
  padding: 10px 0;
}

.application-attachment {
  border-bottom: 1px solid #eee;
  font-size: 14px;
  padding: 10px 12px;
}

/* Mail <section> */
.application-mail {
  width: 100%;
  display: none;
}

/* Logs <section> */
.application-logs {
  width: 100%;
  display: none;
}

/* Specific h3 style */
.application-log-header {
  color: #2dbf90;
}

.application-logs textarea {
  border: 1px solid #2dbf90;
}

.application-logs .field-button-set {
  text-align: right;
}

/* Log entries */
.log-entries-container {
  margin: 10px 0 0;
  padding: 10px 0 0;
}

.log-entry {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  background: #e9fff9;
  font-size: 13px;
  position: relative;
  border: 2px solid #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.log-entry-header {
  padding: 0 0 4px 0;
  border-bottom: #fff; 
}

.log-entry-author {
  font-weight: 400;
  display: inline-block;
  padding: 0 5px 0 0;
}

.log-entry-date {
  display: inline-block;
  padding: 0 5px 0 0;
}

.log-entry-action {
  background-size: auto auto;
  background-size: contain;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: absolute;
  cursor: pointer;
  box-shadow: 0 0 0 2px #fff;
  top: 6px;
}

.log-entry-archive {
  background-image: url('../gfx/icons/48x48/actions/close.png');
  background-color: #d31111;
  border: 4px solid #d31111;
  right: 10px;
}

.log-entry-edit {
  background-image: url('../gfx/icons/48x48/actions/edit.png');
  background-color: #2dbf90;
  border: 4px solid #2dbf90;
  right: 38px;
}

.log-entry textarea {
  font-size: 13px;
}

/* Application mail <section> */
.application-mail {
  width: 100%;
  display: none;
}

/* Specific h3 style */
.application-mail-header {
  color: #2dbf90;
}

.application-mail-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  margin: 20px 0 0;
}

.application-mail #cke_mail-form-content {
  border: 1px solid #2dbf90;
  border-radius: 3px;
  overflow: hidden;
}

.application-mail .mail-subject,
.application-mail input[type="checkbox"] {
  border: 1px solid #2dbf90;
}
.application-mail .button-send-mail {
  transition: padding 0.2s ease-in;
}

.application-mail .button-send-mail.loading {
  background-image: url('../gfx/gui/loading.gif');
  background-repeat: no-repeat;
  background-position: 2px center;
  background-size: 32px 32px;
  padding: 10px 16px 10px 36px;
}

.application-mail label {
  font-weight: 300;
}

.application-mail .field-button-set {
  text-align: right;
}

.application-templates-filters {
  padding: 8px;
}

.application-templates-filter {
  padding: 0 10px 0 0;
}

.application-templates-filter label {
  display: inline-block;
  margin: 0 2px;
}

.application-templates-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.application-templates-container .application-mail-templates {
  flex: 1 1 100%;
}

.application-templates-container .button-apply-template {
  flex: 1 0 100px;
  margin: 0 0 0 10px;
}

/* Unfortunate JQuery dialog theme overrides as ThemeRoller is crappy AF */
.ui-dialog {
  max-width: 90% !important;
  width: 90% !important;
}

@media screen and (min-width: 400px) {
  
  .ui-dialog {
    max-width: 370px !important;
    width: 370px !important;
  }
}

@media screen and (min-width: 600px) {
  
  .ui-dialog {
    max-width: 400px !important;
    width: 400px !important;
    box-shadow: 0 0 50px rgba(123, 26, 26, 0.3);
  }
}

.ui-dialog.ui-widget.ui-widget-content {
  border: 0;
  color: #000;
  background: #fff;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
}

@media screen and (min-width: 600px) {
  
  .ui-dialog.ui-widget.ui-widget-content {
   font-size: 16px;
  }
}

.ui-dialog .ui-dialog-titlebar.ui-widget-header {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  background: #23bef1;
  border: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 10px 14px;
}

.ui-dialog .ui-button.ui-dialog-titlebar-close {
  background-color: #23bef1;
  border: 1px solid #23bef1;
  color: #fff;
}

.ui-dialog .ui-button .ui-icon,
.ui-dialog .ui-button:hover .ui-icon,
.ui-dialog .ui-button:active .ui-icon,
.ui-dialog .ui-button:focus .ui-icon {
  background-image: url('https://code.jquery.com/ui/1.12.1/themes/base/images/ui-icons_ffffff_256x240.png');
}

.ui-dialog .ui-dialog-buttonpane.ui-widget-content {
  border: 0;
  padding: 5px;
}

.ui-dialog .ui-dialog-buttonset button.ui-button {
  font-family: "Open Sans", "Arial", sans-serif;
  border: 0;
  border-radius: 2px;
  background: #43c7f2;
  color: #fff;
}

@media screen and (min-width: 600px) {
  
  .ui-dialog .ui-dialog-buttonset button.ui-button {
    padding: 10px 16px;
    border-radius: 5px;
    font-size: 16px;
  }
}

.ui-dialog .ui-dialog-buttonset button.ui-button.remove-button {
  background: #d31111; 
}

.ui-dialog .ui-dialog-buttonset button.ui-button.cancel-button {
  background: #7391a7;
}

.ui-widget-overlay {
  background: #243a42 !important;
  opacity: 0.6 !important;
}

/* Credential creation errors */
.error-container {
  color: #b94a48;
  font-size: 0.9em;
  font-style: italic;
  font-weight: 400;
  line-height: 0.9em;
}

