/*
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
////////////////////                                 ////////////////////////
////////////////////          MOBILE XL              ////////////////////////
////////////////////                                 ////////////////////////
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
*/

.application-handling-container {
  justify-content: flex-start;
}

.data-name,
.meta-name {
  min-width: 240px;
}

.user-exists-container, .internetix-restrictions-container {
  padding: 10px;
}

.user-exists-description-title {
  font-size: 18px;
  margin: 0 10px 10px;
}

.user-exists-description-piggy, .internetix-restrictions-description-piggy {
  width: 64px;
  height: 64px;
  flex: 0 0 64px;
}

.signatures-auth-sources {
  min-width: 420px;
  max-width: 420px;
}
