/*
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
////////////////////                                 ////////////////////////
////////////////////          MOBILE XL              ////////////////////////
////////////////////                                 ////////////////////////
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
*/

.application-header {
  height: 65px;
} 

.application-header__logo {
  font-size: 1.125rem;
  height: 65px;
}

.application-footer__contact {
  align-items: flex-start;
}

.important {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}  
