/*
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
////////////////////                                 ////////////////////////
////////////////////          MOBILE XL              ////////////////////////
////////////////////                                 ////////////////////////
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
*/

.application-header {
  height: 65px;
} 

.application-header__logo {
  font-size: 1.125rem;
  height: 65px;
}

.application-description__credentials,
.application-description__edit {
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  width: 100%;
}

.application-content.application-content--credentials, 
.application-content.application-content--edit {
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  width: 100%;
}

.application-footer__contact {
  align-items: flex-start;
}

.important {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
} 

.field-attachments__description {
  padding: 20px;
} 
