/*
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
////////////////////                                 ////////////////////////
////////////////////       TABLET (PORTRAIT)         ////////////////////////
////////////////////                                 ////////////////////////
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
*/

body {
  background-color: #f5f5f5;
  font-size: 1rem;
}

.application-header {
  background-image: url("/gfx/applications/header-background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 75px;
} 

.application-header__logo {
  background: #000;
  border-radius: 100%;
  font-size: 1.125rem;
  height: 100px;
  justify-content: center;
  line-height: 1.05;
  position: absolute;
  top: -16px;
  width: 100px;
}

.application-header__logo-branding {
  color: #0080bb;
}

.application-content {
  border: 1px solid #e2e2e2;
  margin: 10px 20px 40px;
  padding: 30px;
} 

.application-description {
  padding: 20px;
}

.application-description__line-header {
  font-size: 26px;
  font-weight: 400;
  margin: 20px 0;
}

.application-description__line-content {
  font-size: 16px;
  font-style: italic;
}

h3 {
  margin: 0 0 20px;
  padding: 0;
  font-family: "Exo 2";
  font-weight: 300;
  font-size: 26px;
}

input, 
textarea {
  padding: 8px;
}

select {
  padding: 6px 4px;
}

input, 
select, 
option, 
select,
button {
  background: #fff;
  font-family: "Open Sans", arial, sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

input[type="checkbox"] {
  height: 25px;
  width: 25px;
}

input[type="checkbox"]:checked::after {
  font-size: 19px;
}

.privacy-policy {
  border-radius: 5px;
  bottom: 20px;
  left: 50%;
  margin: 0 0 0 -300px;
  max-width: 600px;
  overflow: scroll;
  padding: 20px;
  position: fixed;
  top: 20px;
  z-index: 100;
}

.privacy-policy__close {
  background-color: transparent;
  background-image: url('../gfx/icons/48x48/actions/close.png');
  border: 0;
  height: 35px;
  right: 20px;
  top: 20px;
  width: 35px;
}

.important__label {
  font-size: 20px;
}

.important__data {
  padding: 8px;
  font-size: 26px;
}

.application-footer__contact {
  padding: 20px;  
}

.application-footer__contact-title {
  font-size: 26px;
}

.application-footer__contact-row {
  padding: 10px 0;
}

.application-footer__links {
  padding: 20px;
}

.application-footer__external-link {
  padding: 10px;
}
