
.studentSubjectCreditsSubject {
  background-color: #fff;
  border: 1px solid #E5ECFC;
  border-radius: 5px;
  margin: 0 0 10px;
  padding: 4px 10px;
}

.studentSubjectCreditsSubjectCaption {
  align-items: center;
  border-bottom: 1px solid #E5ECFC;
  display: flex;
  flex-flow: row nowrap;
  font-weight: bold;
}

.studentSubjectCreditsSubjectGrades {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}

.studentSubjectCreditsSubjectName {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 1;
  margin-bottom: 2px;
  padding: 6px 0;
}

.studentSubjectCreditsCreditsContainer {
  display: flex;
  flex-flow: row nowrap;
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 1;
  overflow-x: auto;
  padding: 4px 0;
}

.studentSubjectCreditsCourseContainer {
  background-color: #f5f8ff;
  border-radius: 5px;
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 10px;
  text-align: center;
}

.studentSubjectCreditsCourseIdentifier {
  font-weight: bold;
  padding: 0 0 5px;
}

.studentSubjectCreditsGradeContainer {
  padding: 0 5px;
}

.studentSubjectCreditsPassedCoursesCount {
  align-items: center;
  display: flex;
  flex-basis: 100px;
  flex-flow: column nowrap;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 4px 8px;
  text-align: center;
}

.studentSubjectCreditsPassedCoursesCount > span {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
}

.studentSubjectCreditsPassedCoursesCount > span.completedSubject::after {
  background: #afffb8;
  border-radius: 100%;
	content: url('../gfx/input-checked.png');
  margin: 0 0 0 5px;
  position: absolute;
}

.studentSubjectCreditsPassedCoursesCount__checked-wrapper {
	align-items: center;
	background: #afffb8;
	border-radius: 100%;
	display: flex;
	flex-basis: 16px;
	flex-grow: 0;
	flex-shrink: 0;
	height: 16px;
	margin: 0 0 0 5px;
	justify-content: center;
}

.studentSubjectCreditsMeanGradeContainer {
  flex-basis: 100px;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 4px 8px;
  text-align: center;
}

.studentSubjectCreditsProblem {
  align-items:center;
  background-color: #fff;
  border: 1px solid #E5ECFC;
  border-radius: 5px;
  display: flex;
  flex-flow: row wrap;
  margin: 0 0 10px;
  padding: 4px 10px;
}

.studentSubjectCreditsProblemIcon {
  background-image: url('../gfx/icons/16x16/apps/attention.png');
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 6px 0 4px;
  min-width: 16px;
  min-height: 16px;
}
