<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>pyramus</display-name>
  <description>Pyramus</description>
  <filter>
    <filter-name>SessionFilter</filter-name>
    <filter-class>fi.pyramus.util.SessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>LocaleFilter</filter-name>
    <filter-class>fi.pyramus.util.LocaleFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LocaleFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>BreadcrumbFilter</filter-name>
    <filter-class>fi.pyramus.util.BreadcrumbFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BreadcrumbFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>fi.pyramus.util.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>IpFilter</filter-name>
    <filter-class>fi.pyramus.services.utils.IpFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>IpFilter</filter-name>
    <url-pattern>/PyramusWebServices/services/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>IpLoggingFilter</filter-name>
    <filter-class>fi.pyramus.services.utils.IpLoggingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>IpLoggingFilter</filter-name>
    <url-pattern>/PyramusWebServices/services/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>pyramus</servlet-name>
    <servlet-class>fi.internetix.smvc.dispatcher.Servlet</servlet-class>
    <init-param>
      <param-name>errorJspPage</param-name>
      <param-value>/templates/generic/errorpage.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>loginUrlRelative</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>loginUrl</param-name>
      <param-value>users/login.page</param-value>
    </init-param>
    <init-param>
      <param-name>decodeGETUtf</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>pyramus</servlet-name>
    <url-pattern>*.page</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>pyramus</servlet-name>
    <url-pattern>*.json</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>pyramus</servlet-name>
    <url-pattern>*.binary</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>freemarker</servlet-name>
    <servlet-class>fi.pyramus.freemarker.FreemarkerServlet</servlet-class>
    <init-param>
      <param-name>TemplatePath</param-name>
      <param-value>class://fi/pyramus</param-value>
    </init-param>
    <init-param>
      <param-name>NoCache</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>ContentType</param-name>
      <param-value>text/html; charset=UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>template_update_delay</param-name>
      <param-value>0</param-value>
    </init-param>
    <init-param>
      <param-name>default_encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>number_format</param-name>
      <param-value>0.##########</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ResourceDelegate</servlet-name>
    <servlet-class>fi.pyramus.plugin.ResourceDelegateServlet</servlet-class>
    <init-param>
      <param-name>ClassPath</param-name>
      <param-value>fi/pyramus/plugin/static</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>freemarker</servlet-name>
    <url-pattern>*.ftl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResourceDelegate</servlet-name>
    <url-pattern>/plugin/static/*</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>freemarker.ext.jsp.EventForwarding</listener-class>
  </listener>
  <listener>
    <listener-class>fi.pyramus.PyramusServletContextListener</listener-class>
  </listener>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>secure</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
</web-app>